import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #111;
    color: #fefefe;
    font-family: "Inter", sans-serif;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 10rem;
}

main.wrapper-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

div.wrapper-content-card {
  background-color: #141414;
  height: 22rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

div.wrapper-content-card-button button {
  background: #111;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding: 0.75em 2em;
  box-shadow: rgba(0, 0, 0, 0.7);
  width: 13rem;
  margin: 15% 0;
}

img.wrapper-content-card-image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid #0f0f0f;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.7);
  vertical-align: middle;
}

div.wrapper-content-card-title {
  margin-top: 15px;
  font-size: 1.5em;
}

header.wrapper-header {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 48px;
}

header.wrapper-header img {
    filter:  brightness(0) invert(1);
    height: 222px;
}

footer.wrapper-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #111;
}

div.wrapper-footer-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin-left: 5%;
}

nav.wrapper-footer-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

a.wrapper-footer-right-icon {
  height: 2.6rem;
  width: 2.6rem;
  margin: 0 .5rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
}

.mt-5 {
    margin-top: 3rem!important;
}

.col-lg-3 {
    display: inline-block;
}


@media (min-width: 992px)
.col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}